.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-pasted-image {
  top: 32px;
  left: 192px;
  width: 78px;
  height: 33px;
  position: absolute;
}
.home-text {
  top: 32px;
  left: 92px;
  position: absolute;
}
.home-text01 {
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.home-text02 {
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.home-text03 {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.home-desktop-menu {
  display: flex;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-link {
  display: contents;
}
.home-text05 {
  top: 0px;
  left: -617px;
  position: absolute;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-link1 {
  display: contents;
}
.home-icon10 {
  right: 271px;
  bottom: 95px;
  height: 39px;
  position: absolute;
  padding-top: 0px;
  border-style: hidden;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.home-pasted-image1 {
  top: 202px;
  left: 111px;
  width: 600px;
  height: 600px;
  position: absolute;
}
.home-text11 {
  top: 269px;
  left: 742px;
  position: absolute;
  font-size: 100px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.home-link2 {
  left: 146px;
  color: rgb(255, 255, 255);
  bottom: 98px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.home-button {
  flex: 1;
  color: rgb(255, 255, 255);
  right: 113px;
  bottom: 98px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
}
.home-text12 {
  top: 408px;
  left: 748px;
  position: absolute;
  font-size: 40px;
  font-family: Poppins;
}
.home-text13 {
  top: 503px;
  left: 755px;
  position: absolute;
  font-size: 25px;
}
.home-text14 {
  top: 674px;
  left: 874px;
  color: #7a2020;
  position: absolute;
}
@media(max-width: 1600px) {
  .home-text05 {
    top: -8px;
    left: -336px;
  }
  .home-text11 {
    font-size: 90px;
  }
}
@media(max-width: 1200px) {
  .home-text11 {
    top: 262px;
    left: 730px;
    right: 7px;
    width: 484px;
    font-size: 70px;
    padding-right: 0px;
  }
  .home-text12 {
    font-size: 35px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
